<input type="text" [(ngModel)]="username" (keydown)="addUser($event)">

<hr>

<h2>正要完成</h2>
<ul>
  <li *ngFor="let item of list; let key = index" [hidden]="item.status == 2">
      <button (click)="changeStatus(key)">改变</button>
      {{item.username}}------ <button (click)="deleteDate(key)">删除</button>
  </li>
</ul>

<h2>已经完成</h2>
<ul>
    <li *ngFor="let item of list; let key = index" [hidden]="item.status == 1">
      {{item.username}}------ <button (click)="deleteDate(key)">删除</button>
    </li>
  </ul>